<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
         <title>Atualizar Links</title>
    </head>
    <body>
        <h1>Atualizar Links</h1>
        <form action="" method="POST">
            <table>
                <tr>
                    <td>Url: </td>
                    <td><input type="text" name="url" value="{{ link.url }}"></td>
                </tr>
            </table>
            <input type="submit" value="Atualizar">
        </form>
        <hr>
        <a href="/index">Voltar</a>
    </body>
</html>